<link rel="stylesheet" href="/stylesheets/partials.css" />

<header class="page-header">
  <img src="/images/header-logo.png" alt="Heaven in a Handbasket" class="site-logo">
  
  <nav class="header-nav">
    <% if(user) { %>
      <a class="nav-link" href="/users/<%=user._id%>/baskets"><span class="star">✦</span> Your Baskets</a>
      <a class="nav-link" href="/auth/sign-out"><span class="star">✦</span> Sign Out</a>
    <% } else { %>
      <a class="nav-link" href="/auth/sign-in"><span class="star">✦</span> Sign In</a>
      <a class="nav-link" href="/auth/sign-up"><span class="star">✦</span> Sign Up</a>
    <% } %>
  </nav>
</header>