<div class="index-container">
  <img src="/images/header-logo.png" alt="Heaven in a Handbasket" class="header-logo">
  <div class="auth-links">
    <a class="signup-link" href="/auth/sign-up">Sign Up</a>
    <a class="signin-link" href="/auth/sign-in">Sign In</a>
  </div>
</div>