@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #fef1d9;
  
}


.show-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.show-header > h1 {
  color: #754c24; 
  font-size: 3.4em;
  margin-left: 10px;
}

.show-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 30px;
}

button {
  padding: 8px 10px;
  background-color: #754c24;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  width: 10em;
  margin: 5px;
}

button:hover {
  background-color: #e9661e;
}

.show-actions > a {
  padding: 12px 25px;
  background-color: #f7931e;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4em;
  font-family: 'Poppins', sans-serif;
}

.show-actions > a:hover {
  background-color: #e9661e;
}

p {
  color: #754c24;
  font-weight: bold;
  font-size: 1.4em;
  margin: 10px 30px;
  text-align: center;
}

.show-notes-container {
  width: 90%;
  margin: 20px 0;
}

.show-notes-container > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.4em;
  margin: 20px;
}

.show-notes-container > a:hover {
  color: #754c24;
}

.show-notes {
  background-color: #f6e7e7;
  width: 85%;
  border-radius: 20px;
  padding: 40px 40px 20px 40px;
  margin: 20px 10px;
}

h2 {
  margin: 0 10px;
  color: #754c24;
}

.show-notes > p {
  font-weight: normal;
  color: #754c24;
  text-align: left;
  font-size: 1.2em;
}
